#signup-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.signup-form-box {
  width: 350px;
  margin: 0 auto;
  padding-top: 25px;
}

h1 {
  text-align: center;
}

.logo-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}
