.wrapper {
  #card {
    margin-top: 1rem;
    #avatar {
      vertical-align: middle;
      border-radius: 50%;
    }
    .edit-profile,
    .update-account {
      display: inline;
      margin: 0.3rem 0;
    }
  }
}

.modals.dimmer {
  height: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  .modal {
    margin-top: 0.8rem;
    margin-left: 8%;
    height: 80%;
    width: 50%;
  }
  .ui.scrolling.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background: skyblue;
  }
}
