.wrapper {
  #card {
    margin-top: 1rem;
    #avatar {
      vertical-align: middle;
      border-radius: 50%;
    }
    .edit-profile,
    .update-account {
      display: inline;
      margin: 0.3rem 0;
    }
  }
}

.modals.dimmer {
  height: 100%;
  position: relative;
  .ui.scrolling.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
