* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: auto;
}

body {
  font-family: "Lato", sans-serif;
  position: relative;
}

#root {
  width: 100%;
  background: #eee;
}

.logo {
  max-width: 150px;
  max-height: 150px;
}
